@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
}

body {
  background: #E5E5E5;
}

.website {
  max-width: 698px;
  background: #FFFFFF;
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.website__header {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
  padding: 12px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wesite__header__logo {
  display: flex;
  align-items: center;
  gap: 3px;
}

.website__header__logo__title {
  font-size: 1.875rem;
  line-height: 2rem;
  color: #777777;
}

.website__header__logo__text {
  font-size: 0.625rem;
  line-height: 0.6875rem;
  color: #AAAAAA;
}

.website__header__menu {  
  background-image: url(./assets/menu.png);
  width: 18px;
  height: 12px;
}

.website__main {
  padding-right: 44px;
  padding-left: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 38px;  
}

.website__main__principal-img {  
  background-image: url(./assets/principal-img.png);
  background-size: cover;
  width: 100%;
  height: 260px;
  position: relative;
}

.arrow-left {
  position: absolute;
  top: 110px;
  left: 12px;
}

.arrow-left-vector {
  position: absolute;
  top: 120px;
  left: 26px;
}

.arrow-right {
  position: absolute;
  top: 110px;
  right: 12px;
}

.arrow-right-vector {
  position: absolute;
  top: 120px;
  right: 26px;
}

.website__main__prices-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.website__main__prices-section__left__img {
  background-image: url(./assets/left-price-img.png);
  height: 144px;
}

.website__main__prices-section__right__img {
  background-image: url(./assets/right-price-img.png);
  height: 144px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 8px ; 
  background: #EEEEEE;;
}

.price {
  font-size: 1.5625rem;
  line-height: 1.6875rem;
  color: #888888;
}

.tag {
  width: 56px;
  height: 21px;  
  border-radius: 10.5px;
  font-size: 1.25rem;
  line-height: 1.3125rem;
  color: #FFFFFF;
  text-align: center;
}

.website__main__prices-section__left__title__tag {
  background: #51D275;
}

.website__main__prices-section__right__title__tag {
  background: #DC9730;
}

.description {
  background: #EEEEEE;
  max-width: 256px; 
}

.description-text {
  font-size: 0.625rem;
  line-height: 0.6875rem;
  text-align: justify;
  color: #555555;
  padding: 0 12px 10px 12px; 
}

.website__main__styles-section__title {
  margin-top: 6px;
  margin-bottom: 18px;
  font-size: 1.5625rem;
  line-height: 1.6875rem;
  text-align: center;
  color: #888888;
}

.website__main__styles-section {
  width: 100%;
}

.website__main__styles-section__styles {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.style-section {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-section-text {
  font-size: 1.5625rem;
  line-height: 1.6875rem;
  color: #FFFFFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.website__main__styles-section__styles__industrial {
  background: url(./assets/industrial-img.png);  
}

.website__main__styles-section__styles__modern {
  background: url(./assets/modern-img.png);
}

.website__main__styles-section__styles__classic {
  background: url(./assets/classic-img.png);
}

.website__footer {
  background: #333333;
  padding: 40px 66px 40px 48px;
  display: flex;
  justify-content: space-between;
}

.website__footer__map {
  background: url(./assets/map.png);
  background-repeat: no-repeat;
  width: 100%;
}

.website__footer__contact__text {
  width: 26ch;
  font-size: 0.75rem;
  line-height: 1.625rem;
  color: #FFFFFF;
  padding-top: 2px;
}

.website__footer__contact__socialmedia {
  font-size: 0.75rem;
  line-height: 0.8125rem;
  color: #FFFFFF;
  padding: 12px 0 6px 0;  
}

.website__footer__contact__socialmedia-icons {
  display: flex;
  gap: 16px;
}